@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {
  font-family: "Poppins";
  src: local("/fonts/Poppins-Regular.ttf");
} */
body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden
  
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.primary-btn{
  background-color: #B88E2F;
  text-align: center;
  border: none;
  height: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight:700;
  width: 8rem;

}
.primary-btn:hover{
  cursor: pointer;
  opacity: .65;
}

/* HEADER & CHILDREN*/

header{
  border: solid black 1px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin: 0;
  position: sticky;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: white;
  z-index: 1;
}

header div:first-child{
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
  width: 10%;
}

header div:first-child img{
  align-self: center;
}


header div:first-child p{
  font-size: 2em;
  font-weight: 700;
}

nav{
  width: 40%;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-weight: 600;
  list-style-position: inside;

}


 header div:last-child{
  display: flex;
  justify-content: space-between;
  width: 15%;
}


/* FOOTER & CHILDREN */
footer{
  background-color: white;
  height: 20rem;
  width: 100%;
  /*position: absolute;*/
  bottom: 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer div{
  border: solid red 1px;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 60%;
}
footer div:last-child{
  height: 10%;
}


/* MAIN & CHILDREN */

main{
  border: solid black 1px;
  height: auto;
  width: 100%;
}

.hero{
  width: 100%;
  height: 42rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: right;
}

.hero div:first-child{
  background-color: #fff3e3;
  height: 27.7rem;
  width: 27.7rem;
  max-width: 27.7rem;
  max-height: 27.7rem;
  border-radius: 10px;
  margin-right:  19.5rem;
  margin-top:  8rem;
  
  display: flex;
  flex-direction: column;
}

.hero h4,
.hero p,
.hero h2,
button{
  margin-left: 2rem;
  margin-right: 2rem;
}

.hero h4{
  margin-top: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}
.hero h2{
  font-size: 2.8rem;
  line-height: .83;
}
.hero button{
  margin-top: .8rem;
}